*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	width: 1000px;
	height: 1310px;
	margin: 0 auto;
}
#content{
position: relative;
width: 910px;
height: 1310px;
margin-left: 44px;
margin-right:45px; 
}
header{
margin-top: 20px;
width: 910px;
height: 54px;
}
#wraper{
	position: relative;
	margin-top:10px;
	width: 910px;
    height: 35px;
    vertical-align: top;
}
#fon1{
float: left;
width: 21px;
height: 21px;
padding-right: 4px; 
padding-top: 1px; 
padding-left: 10px;

}
#fon2{
padding-left: 3px;
padding-top: 3px;
padding-right: 6px;
float: left;
width: 14px;
height: 18px;
}
.n1{
float: left;
width: 264px;
height: 18px;
color: #5e696d;
font-family: Arial;
font-size: 18px;
font-weight: 500;
line-height: 25px;
padding-top: -3px; 
padding-right:19px;
word-spacing: 10px;
}
.n1_1{
padding-left: 4px;
}
.n1_2{
padding-left: 10px;
letter-spacing: 0.1px;
ma
}
form{
float: left;
width: 495px;
height: 26px;
border-radius: 4px;
background-image:url(img/fon3.png);
box-shadow:2px 2px 4px;
margin-top: -3px;
}

#wraper1{
position: absolute;
float: right;
width: 220px;
height: 26px;
vertical-align: top;
margin-left: 245px;
margin-top: -22px;
}
#wraper1 a{
font-weight: 400;
line-height: 25px;
font-family: "Lucida Sans Unicode";
font-size: 11px;
font-weight: 400;
line-height: 25px;
margin-left: -5px;
}

#vx{
width: 43px;
height: 22px;
border:none;
background: transparent;
font-family: "Lucida Sans Unicode";
margin-left: -5px;
margin-right:0px;
color: white;
margin-top: -2px;
font-weight: 400;
line-height: 25px;
font-size: 10px;
}
#vx input{
text-align: top;
}
input{
width: 115px;
height: 18px;
margin-top: 1px;
background-color: white;
border: 1px solid #9ba1a3;
border-radius: 3px;
}
#wraper2{
position: relative;
width: 464px;
height: 18px;
margin-top: 2px;
margin-left: 21.5px;
}
.ol_a1{
	padding-top:-2px;
padding-left: 4px;
}
#a2 {
color: white;
text-decoration: none;
}
#a3 {
position: absolute;
color: #bfbfbf;
font-family: "Lucida Sans Unicode";
font-size: 13px;
font-weight: 400;
line-height: 28px;
text-decoration: underline;
margin-left:10px;
padding-left: 25px;
padding-right:4px;
padding-top:-4px;


}
#shape{
border: 1px solid #c7cdd0;
border-radius: 11px;
float: right;
width: 70px;
height: 20px;
background-image: url(img/shape.png);
box-shadow:1px 1px 2px;
margin-top:-3px;
margin-right:7px;
}
#shape li{
	display: inline;
	padding-left: 12px;
	opacity: 0;
}
#baner{
width: 910px;
height:237px;
background-image: url(img/blick.png);
margin-left: 3px;
margin-top:-2px;
}
#shape1{
width: 910px;
height: 34px;
background-color: white;
background-image: linear-gradient(to top, black 0%, #576068 100%);
border: 1px solid #0d1642;
border-radius: 5px;
box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
margin-top: 5px;
margin-left: 2px;

}
#navbar {
position: relative;
float:left;
width: 622px;
height: 34px;
text-align: right;
padding-top: 5px;
}
#navbar ul li{
	display: inline;
	text-decoration: none;
	padding-left: 0px;

}
  a{
	text-decoration: none;
	}
#f1 {
position: absolute;
float: left;
width: 126px;
height: 25px;
text-align: center;
margin-top: -18px;
margin-left: 123px;
}

.f1{
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
line-height: 25px;
color: #b1bcc0;
padding-left:6px;
}
#f6{
position: absolute;
float: left;
width: 100px;
height: 25px;
margin-top: -18px;
margin-left: 245px;
}

.f6{
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
line-height: 25px;
color: #b1bcc0;
padding-right: 20px;
}

#navbar #f1:hover{
background-image: url(img/Shape 5.png);
border-radius: 15px;
background: linear-gradient(to top, #0d3458, #1f6787 );
color: white;
width: 126px;
height: 26px;
}
#navbar #f6:hover{
background-image: url(img/Shape 5.png);
border-radius: 15px;
background: linear-gradient(to top, #0d3458, #1f6787 );
color: white;
width: 100px;
height: 26px;
}
#f1 a:hover{
color: white;
}
#f6 a:hover{
color: white;
}
#f7{
position: absolute;
float: left;
width: 100px;
height: 25px;
margin-top: -18px;
margin-left: 342px;
}

.f7{
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
line-height: 25px;
color: #b1bcc0;
padding-right: 13px;
}
#f7 a:hover{
color: white;
}
#navbar #f7:hover{
background-image: url(img/Shape 5.png);
border-radius: 15px;
background: linear-gradient(to top, #0d3458, #1f6787 );
color: white;
width: 100px;
height: 26px;
}
#f8{
position: absolute;
float: left;
width: 100px;
height: 25px;
margin-top: -18px;
margin-left: 433px;
}

.f8{
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
line-height: 25px;
color: #b1bcc0;
padding-right: 20px;
}
#f8 a:hover{
color: white;
}
#navbar #f8:hover{
background-image: url(img/Shape 5.png);
border-radius: 15px;
background: linear-gradient(to top, #0d3458, #1f6787 );
color: white;
width: 100px;
height: 26px;
}
#f9{
position: absolute;
float: left;
width: 100px;
height: 25px;
margin-top: -18px;
margin-left: 525px;
}

.f9{
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
line-height: 25px;
color: #b1bcc0;
padding-right: 12px;
}
#f9 a:hover{
color: white;
}
#navbar #f9:hover{
background-image: url(img/Shape 5.png);
border-radius: 15px;
background: linear-gradient(to top, #0d3458, #1f6787 );
color: white;
width: 100px;
height: 26px;
}
#info p{
display: inline;
}
#info{
position: relative;
width: 240px;
height: 23px;
float: right;
text-align: right;
padding-top: 9px;
color: #929b9f;
font-family: Arial;
font-size: 11px;
font-weight: 400;
padding-right: 6px;
}
.info1{
	padding-left:5px;
    }
.info2{
width: 7px;
height: 9px;
color: #0d5a8f;
font-family: Arial;
font-size: 12px;
font-weight: 400;
padding-right: 10px;
}
.info4{
width: 7px;
height: 11px;
color: #0d5a8f;
font-family: Arial;
font-size: 12px;
font-weight: 400;
padding-right: 13px;
}
.info4 {
	padding-left:10px;

}
.layer15 {
background-image: url(img/Layer 15.png);
position: absolute;
margin-left:-22px;
margin-top: -2px;
}

#wraper4{
background-image: url(img/findPoAvto.png);
vertical-align: top;
margin-top:7px;
margin-left: 9px;
float: left;
width: 413px;
height: 129px;
background-color: white;
border: 1px solid #9c9c9d;
border-radius: 17px;
box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75);

}
#wraper5{
background-image: url(img/findTires.png);
float: left;
vertical-align: top;
margin-top: 3px;
margin-left: 13px;
width: 192px;
height: 135px;
background-color: white;
border: 1px solid #9c9c9d;
border-radius: 19px;
box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}
#wraper6{
background-image: url(img/findDisc.png);
vertical-align: top;
margin-top:5px;
margin-right: 4px;
float: right;
width: 263px;
height: 132px;
background-color: white;
border: 1px solid #9c9c9d;
border-radius: 14px;
box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}

#wraper7{
position: relative;
float: left;
width: 189px;
height: 625px;
}

#wraper9{
position: absolute;
margin-left:720px;
width: 185px;
height: 627px;

}
#wraper10{
position: relative;
width: 910px;
height: 627px;
margin-top: 409px;
}
 nav  li{
	list-style-type:circle;
	margin-left:50px;
	padding-top:6px;
    padding-left:0px;
	color: #114165;
    font-family: "Lucida Sans Unicode";
}
aside li{
	list-style-type:circle;
	margin-left:59px;
	padding-top:6px;
    padding-left:0px;
	color: #114165;
    font-family: "Lucida Sans Unicode";
}

aside{
position: relative;
width: 188px;
height: 460px;
}
aside  a{
color: #465961;
font-family: "Lucida Sans Unicode";
font-size: 12px;
font-weight: 400;
padding: 0px;
margin-left: -6px;
}
aside h1{
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
.ol_a1{
margin-top: 7px;
}
.ss2{
padding-top: 9px;
margin-left: 59px;
}
#wraper11 {
width: 181px;
height: 21px;
background-color: white;
border: 1px solid #79878d;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
border-radius: 17px;
text-align: left;
padding-top:2px;
padding-bottom: 2px;
margin-top: 12px;
margin-right:10px;
margin-left: 2px;


}
.wraper11_1 {
width: 180px;
padding-left: 9px;
width: 165px;
height: 11px;
font-family: "Lucida Sans Unicode";
font-size: 13px;
font-weight: 400;
line-height: 25px;
margin-top:-20px;
padding-left: 28px;
}
.wraper11_1_1{
margin-left: -2px;
}
#wraper12{
width: 20px;
height: 20px;
padding-left: 5px;
}
#wraper111 {
width: 182px;
height: 20px;
background-color: white;
border: 1px solid #79878d;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
border-radius: 18px;
text-align: left;
padding-top:1px;
padding-bottom: 2px;
margin-top: 10px;
margin-right:9px;
margin-left: 10px;

}
#wraper111 h1{
width: 180px;
width: 165px;
height: 11px;
font-family: "Lucida Sans Unicode";
font-size: 13px;
font-weight: 400;
line-height: 25px;
margin-top:-21px;
padding-left: 30px;
}
#wraper122{
width: 20px;
height: 20px;
padding-left: 4px;
padding-top: -2px;
}
#shape13{
width: 149px;
height: 26px;
background-color: white;
border: 1px solid #79878d;
border-radius: 14px;
margin-top: 11px;
margin-left: 4px;
}

.shape13_1{
margin-top: 7px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#shape133{
width: 135px;
height: 26px;
background-color: white;
border: 1px solid #79878d;
border-radius: 12px;
margin-top: 14px;
margin-left: 24px;
}
#shape133 h1{
margin-top: 7px;
}
#wraper14 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper14{
width: 22px;
height: 22px;
float: left;
margin-left:5px;
margin-top:1px;
}
#wraper144 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper144{
width: 22px;
height: 22px;
float: left;
margin-left:6px;
margin-top:2px;
}

#shape14{
width: 148px;
height: 26px;
background-color: white;
border: 1px solid #79878d;
border-radius: 12px;
margin-top: 3px;
margin-left: 4px;
}
.shape14_1{
margin-top: 7px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
width: 100px;
height: 20px;
margin-left: 14px;
}
.ol_a2{
margin-top: 4px;
}
.ol_a3{
margin-top: 2px;
}
.ol_a4{
padding-top: 8px;
}


#shape144{
width: 131px;
height: 26px;
background-color: white;
border: 1px solid #79878d;
border-radius: 12px;
margin-top: 12px;
margin-left: 28px;

}
#shape144 h1{
margin-top: 6px;
margin-left: 18px;
width:80px;
height: 22px;
}
#wraper15 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper15{
width: 22px;
height: 22px;
float: left;
margin-left:4px;
margin-top:2px;
}
#wraper155{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}

#wraper155{
width: 22px;
height: 22px;
float: left;
margin-left:1px;
margin-top:2px;
}

#shape15{
width: 149px;
height: 26px;
background-color: white;
border: 1px solid #79878d;
border-radius: 13px;
margin-top: 4px;
margin-left: 4px;
}
.ol_a4{
margin-top: 1px;
}
.ol_a5{
margin-top: 4px;
}
.ol_a6{
margin-top: 2px;
}
#wraper16 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper16{
width: 22px;
height: 22px;
float: left;
margin-left:4px;
margin-top:2px;
}
.shape15_1 {
width: 100px;
height: 22px;
margin-top: 7px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
margin-left: 11px;
}
#wraper7 li a:hover{
color: #0c3256;
font-family: Arial;
font-size: 14px;
font-weight: 700;
font-style: italic;
text-decoration: underline;
}
#nav_bar2 nav{
width: 185px;
height: 627px;
}
#nav_bar2  label{
color: #465961;
font-family: "Lucida Sans Unicode";
font-size: 13px;
font-weight: 400;
}
#nav_bar2 h1{
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#nav_bar2 input{
width: 9px;
height: 9px;
}
#shape17{
width: 80px;
height: 26px;
background-image: url(img/change.png);
margin-left:33px; 
margin-top:18px; 
}
#shape17 input{
opacity: 0;
}
.shape18{
	margin-left: 37px;
	padding-top: 9px;
}
#check3{
margin-top:3px;
}
.shape19{
	margin-left: 37px;
	margin-top:9px;
}
#check6{
margin-top:3px;
}
#nav_bar2 label{
padding-left:7px;
}
#wraper8{
margin-left:4px;
position: relative;
float: left;
margin-top:7px;
width: 529px;
height: 627px;
background-color: white;
background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
border-radius: 3px;
}
.sh{
width: 149px;
height: 179px;
float: left;
margin-left: 19px;
margin-top: 12px;
margin-bottom: 13px;
text-align:center;
}
#sh2{
margin-top: 12px;
margin-left: 20px;

}
#sh3{
margin-left:21px;
padding-top:-1px;
}
#sh5 img{
margin-right: 1px;
}
#sh3 img{
margin-top: 3px;
}
#sh1{
text-align:center;
width: 147px;
height: 179px;
border-radius: 7px;
}

.fg{
width:84px;
height: 40px;
color: #206988;
font-size: 15px;
font-family: "Lucida Sans Unicode";
font-weight: 400;
line-height: 13px;
margin-left: 4px;
margin-right:4px;
margin-top:2px;
}

.fg1{
font-family: "Lucida Sans Unicode";
font-weight: 400;
line-height: 13px;
color: #1f2528;
font-size: 13px;
}
#fg1_1{
padding-left: 2px;
margin-top:4px;
}
#fg_1{
position: absolute;
width: 80px;
height: 15px;
margin-left: 35px;
margin-top:6px;

}
#fg_1_2{
position: absolute;
width: 80px;
height: 15px;
margin-left: 38px;
margin-top:6px;
}
#fg1_1_2{
margin-left: 5px;
margin-top:6px;
padding-bottom: 3px;
}
#sh2 figcaption{
margin-top: 3px;
margin-left:-1px;
}
#sh2 img{
margin-top:3px;
}
#sh3 figcaption{
margin-top: 4px;
margin-left:-3px;
}
#fg_1_3{
position: absolute;
width: 80px;
height: 15px;
margin-left: 36px;
margin-top:6px;
}
#brend{
position: absolute;
margin-left: 119px;
margin-top: 42px;
width: 690px;
height: 40px;
}
#brend a{
margin-left: 0px;
}
.brend1{
float: left;
width: 83px;
height: 21px;
margin-top: 10px;

}
.brend2{
float: left;
width: 97px;
height: 14px;
margin-top: 10px;
margin-left:14px;
}
.brend3{
	float: left;
width: 77px;
height: 21px;
margin-top: 10px;
margin-left:13px;

}
.brend4{
	float: left;
width: 59px;
height: 21px;
margin-top: 8px;
margin-left:14px;
}
.brend5{
	float: left;
width: 77px;
height: 13px;
margin-top: 10px;
margin-left:14px;
}
.brend6{
	float: left;
width: 57px;
height: 27px;
margin-top: 6px;
margin-left:12px;
}
.brend7{
	float: left;
width: 61px;
height: 14px;
margin-top: 11px;
margin-left:13px;
}
.brend8{
	float: left;
width: 72px;
height: 13px;
margin-top: 11px;
margin-left:14px;
}

figcaption{
width: 72px;
height: 15px;
color: #114165;
font-family: Arial;
font-weight: 700;
font-style: italic;
line-height: 10px;
font-size: 16px;
}

figcaption p{
position: absolute;
width: 25px;
height: 15px;
color: #114165;
font-family: Arial;
font-weight: 700;
font-style: italic;
line-height: 10px;
font-size: 12px;
margin-left: 94px;
margin-top:-7px;
}
figcaption{
width: 130px;
height: 15px;
text-align: center;
margin-top:3px;
margin-left: -2px;
}
.fg7{
margin-left: 35px;
}
.fg8{
margin-left: 38px;
}
.fg9{
margin-left: 40px;
}
.fg10{
margin-left: 4px;
}
footer{
position: absolute;
width: 908px;
height: 99px;
background-color: #213a4d;
border: 1px solid #242a3c;
margin-top: 100px;
margin-left: 2px;
}
#fo_1{
width: 360px;
height: 13px;
margin-left: 301px;
margin-top: 7px;
display: inline-block;
letter-spacing: 0.28px;
}
#fo_1 a{
color: #bec6c9;
font-family: Arial;
font-size: 12px;
font-weight: 400;
line-height: 16px;
height: 13px;
display: block;
text-align: left;
}
#fo_1 li{
display: inline-block;
margin-right:2px;
}

#fo_li {
color: #52abcb;
border-right: 3px solid #bec6c9;
padding-right:13px;
padding-left:8px;
}
#fo_bor {
border-right: 3px solid #bec6c9;
padding-left:7px;
padding-right:9px;
}
#fo_bor1 {
border-right: 3px solid #bec6c9;
padding-left:6px;
padding-right:10px;
}
#fo_bor2{
padding-left:9px;
}
#fo_2 {
position: absolute;
width: 194px;
height: 9px;
margin-left: 375px;
margin-top: 8px;

}
#fo_2 a{
width: 194px;
height: 9px;
color: #7f4740;
font-family: Arial;
font-size: 10px;
font-weight: 400;
line-height: 18px;
}
#fo_2_2{
float: left;
margin-top: 2px;
margin-left: 3px;
}
#fo_2_3{
float: left;
margin-top: 2px;
margin-left: 6px;
}

#fo_li a:hover{
	color: #52abcb;
}
#fo_bor a:hover{
	color: #52abcb;
}
#fo_bor1 a:hover{
	color: #52abcb;
}
#fo_bor2 a:hover{
	color: #52abcb;
}



