*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	width: 1000px;
	height: 1310px;
	margin: 0 auto;
}
#content{
position: relative;
width: 910px;
height: 1310px;
margin-left: 44px;
margin-right:45px; 
}
header{
margin-top: 20px;
width: 910px;
height: 54px;
}
#wraper{
	margin-top:10px;
	width: 910px;
    height: 35px;
    vertical-align: top;

}
#fon1{
float: left;
width: 21px;
height: 21px;
padding-right: 4px; 
padding-top: 5px; 
padding-left: 6px;

}
#fon2{
padding-left: 3px;
padding-top: 3px;
padding-right: 6px;
float: left;
width: 14px;
height: 18px;
}
.n1{
float: left;
width: 264px;
height: 18px;
color: #5e696d;
font-family: Arial;
font-size: 18px;
font-weight: 500;
line-height: 25px;
padding-top: 2px; 
padding-right:19px;
word-spacing: 10px;
}
form{
float: left;
width: 495px;
height: 26px;
border-radius: 4px;
background-image:url(img/fon3.png);
text-align: center;
box-shadow:2px 2px 4px;

}
#wraper1{
float: right;
width: 220px;
height: 26px;
vertical-align: top;
margin-left: 5px;
}
#wraper1 a{
font-weight: 400;
line-height: 25px;
font-family: "Lucida Sans Unicode";
font-size: 11px;
font-weight: 400;
line-height: 25px;
}
input{
width: 115px;
height: 18px;
margin-top: 1px;
background-color: white;
border: 1px solid #9ba1a3;
border-radius: 3px;
}
#wraper2{
width: 464px;
height: 18px;
margin-top: 1px;
margin-left: 23px;
}
#a1 {
height: 26px;
color: white;
text-decoration: none;
}
#a2 {
color: white;
text-decoration: none;
}
#a3 {
color: #bfbfbf;
font-family: "Lucida Sans Unicode";
font-size: 12px;
font-weight: 400;
line-height: 28px;
text-decoration: underline;
padding-left: 20px;
}
#shape{
border: 1px solid #c7cdd0;
border-radius: 8px;
float: right;
width: 73px;
height: 20px;
background-image: url(img/shape.png);
box-shadow:1px 1px 2px;
margin-top:0px;
margin-right:11px;
}
#shape li{
	display: inline;
	padding-left: 12px;
	opacity: 0;
}
#baner{
width: 910px;
height:237px;
background-image: url(img/blick.png);
margin-left: 3px;
}
#shape1{
width: 910px;
height: 34px;
background-color: white;
background-image: linear-gradient(to top, black 0%, #576068 100%);
border: 1px solid #0d1642;
border-radius: 5px;
box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
margin-top: 5px;
margin-left: 2px;

}
#navbar {
position: relative;
float:left;
width: 622px;
height: 34px;
text-align: right;
padding-top: 5px;
}
ul li{
	display: inline;
	text-decoration: none;
	padding-left: 14px;
	margin-right: 10px;
}
a{
	text-decoration: none;
}
.f1{
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
line-height: 25px;
color: white;
padding-left:6px;
}
#f1{
position: absolute;
float: left;
width: 124px;
height: 25px;
background: linear-gradient(to top, #0d3458, #1f6787 );
text-align: center;
border-radius: 15px;
margin-top: -25px;
margin-left: 123px;
}
.f2{
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
line-height: 25px;
color: #b1bcc0;
}
#info p{
display: inline;
}
#info{
position: relative;
width: 240px;
height: 23px;
float: right;
text-align: right;
padding-top: 10px;
color: #929b9f;
font-family: Arial;
font-size: 11px;
font-weight: 400;
padding-right: 16px;
}
.info1{
	padding-left:5px;
    }
.info2{
width: 7px;
height: 9px;
color: #0d5a8f;
font-family: Arial;
font-size: 12px;
font-weight: 400;
padding-right: 18px;
}
.info4{
width: 7px;
height: 11px;
color: #0d5a8f;
font-family: Arial;
font-size: 12px;
font-weight: 400;
padding-right: 5px;
}
.info4 {
	padding-left:10px;

}
#layer15 {
	background-image: url(img/Layer 15.png);
	position: absolute;
	margin-left: -25px;
	margin-top: 0px;
}

#wraper4{
vertical-align: top;
margin-top: 6px;
margin-left: 7px;
float: left;
width: 413px;
height: 134px;
background-color: white;
border: 1px solid #9c9c9d;
border-radius: 17px;
box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75);

}
#wraper5{
float: left;
vertical-align: top;
margin-top: 6px;
margin-left: 14px;
width: 192px;
height: 136px;
background-color: white;
border: 1px solid #9c9c9d;
border-radius: 17px;
box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}
#wraper6{
vertical-align: top;
margin-top: 6px;
margin-right: 4px;
float: right;
width: 267px;
height: 134px;
background-color: white;
border: 1px solid #9c9c9d;
border-radius: 14px;
box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}

#wraper7{
float: left;
width: 189px;
height: 625px;
}

#wraper9{
position: absolute;
margin-left:720px;
width: 185px;
height: 627px;

}
#wraper10{
position: relative;
width: 910px;
height: 627px;
margin-top: 409px;
}
 nav  li{
	list-style-type:circle;
	margin-left:50px;
	padding-top:6px;
    padding-left:0px;
	color: #114165;
    font-family: "Lucida Sans Unicode";
}
aside li{
	list-style-type:circle;
	margin-left:50px;
	padding-top:6px;
    padding-left:0px;
	color: #114165;
    font-family: "Lucida Sans Unicode";
}

aside{
position: relative;
width: 188px;
height: 460px;
}
aside  a{
color: #465961;
font-family: "Lucida Sans Unicode";
font-size: 13px;
font-weight: 400;
}
aside h1{
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper11 {
width: 180px;
height: 21px;
background-color: white;
border: 1px solid #79878d;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
border-radius: 15px;
text-align: left;
padding-top:2px;
padding-bottom: 2px;
margin-top: 12px;
margin-right:9px;


}
.wraper11_1 {
width: 180px;
padding-left: 9px;
width: 165px;
height: 11px;
font-family: "Lucida Sans Unicode";
font-size: 13px;
font-weight: 400;
line-height: 25px;
margin-top:-20px;
padding-left: 30px;
}
#wraper12{
width: 20px;
height: 20px;
padding-left: 2px;
}
#wraper111 {
width: 180px;
height: 21px;
background-color: white;
border: 1px solid #79878d;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
border-radius: 15px;
text-align: left;
padding-top:2px;
padding-bottom: 2px;
margin-top: 13px;
margin-right:9px;
margin-left: 8px;

}
#wraper111 h1{
width: 180px;
padding-left: 9px;
width: 165px;
height: 11px;
font-family: "Lucida Sans Unicode";
font-size: 13px;
font-weight: 400;
line-height: 25px;
margin-top:-20px;
padding-left: 30px;
}
#wraper122{
width: 20px;
height: 20px;
padding-left: 2px;
}
#shape13{
width: 146px;
height: 26px;
background-color: white;
border: 1px solid #79878d;
border-radius: 12px;
margin-top: 13px;
margin-left: 3px;
}

.shape13_1{
margin-top: 8px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#shape133{
width: 137px;
height: 26px;
background-color: white;
border: 1px solid #79878d;
border-radius: 12px;
margin-top: 14px;
margin-left: 22px;
}
#shape133 h1{
margin-top: 8px;
}
#wraper14 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper14{
width: 22px;
height: 22px;
float: left;
margin-left:6px;
margin-top:2px;
}
#wraper144 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper144{
width: 22px;
height: 22px;
float: left;
margin-left:6px;
margin-top:2px;
}

#shape14{
width: 148px;
height: 25px;
background-color: white;
border: 1px solid #79878d;
border-radius: 12px;
margin-top: 12px;
margin-left: 3px;
}
.shape14_1{
margin-top: 8px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}

#shape144{
width: 138px;
height: 25px;
background-color: white;
border: 1px solid #79878d;
border-radius: 12px;
margin-top: 21px;
margin-left: 20px;
}
#shape144 h1{
margin-top: 8px;
}
#wraper15 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper15{
width: 22px;
height: 22px;
float: left;
margin-left:6px;
margin-top:2px;
}
#wraper155 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper155{
width: 22px;
height: 22px;
float: left;
margin-left:6px;
margin-top:2px;
}


#shape15{
width: 149px;
height: 26px;
background-color: white;
border: 1px solid #79878d;
border-radius: 12px;
margin-top: 11px;
margin-left: 3px;
}
#wraper16 h1{
width: 22px;
height: 22px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper16{
width: 22px;
height: 22px;
float: left;
margin-left:6px;
margin-top:2px;
}
.shape15_1 {
margin-top: 7px;
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#wraper7 li a:hover{
color: #0c3256;
font-family: Arial;
font-size: 14px;
font-weight: 700;
font-style: italic;
text-decoration: underline;
}
#nav_bar2 nav{
width: 185px;
height: 627px;
}
#nav_bar2  label{
color: #465961;
font-family: "Lucida Sans Unicode";
font-size: 13px;
font-weight: 400;
}
#nav_bar2 h1{
color: #114165;
font-family: "Lucida Sans Unicode";
font-size: 14px;
font-weight: 400;
}
#nav_bar2 input{
width: 9px;
height: 9px;
}
#shape17{
width: 82px;
height: 26px;
background-color: black;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
border: 1px solid #a7abae;
border-radius: 10px;
color: #e5e9ea;
font-family: Arial;
font-size: 11px;
font-weight: 400;
margin-left:30px; 
margin-top:14px; 
}
.shape18{
	margin-left: 30px;
	padding-top: 5px;
}
.shape19{
	margin-left: 30px;
	margin-top: 9px;
}
#nav_bar2 label{
padding-left:7px;
}
#wraper8{
	margin-left:-3px;
position: relative;
float: left;
margin-top:7px;
width: 526px;
height: 627px;
background-color: white;
background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
border-radius: 3px;
}
.sh{
width: 147px;
height: 179px;
float: left;
margin-left: 23px;
margin-top: 14px;
margin-bottom: 10px;
text-align:center;
}
#sh1{
text-align:center;
width: 147px;
height: 179px;
border-radius: 7px;
}
.fg{
color: #206988;
font-size: 15px;
font-family: "Lucida Sans Unicode";
font-weight: 400;
line-height: 13px;
}
.fg1{
font-family: "Lucida Sans Unicode";
font-weight: 400;
line-height: 13px;
color: #1f2528;
font-size: 13px;
}
#brend{
position: absolute;
margin-left: 119px;
margin-top: 42px;
width: 690px;
height: 40px;
}
#brend a{
margin-left: 0px;
}
.brend1{
float: left;
width: 83px;
height: 21px;
margin-top: 10px;

}
.brend2{
float: left;
width: 97px;
height: 14px;
margin-top: 10px;
margin-left:14px;
}
.brend3{
	float: left;
width: 77px;
height: 21px;
margin-top: 10px;
margin-left:13px;

}
.brend4{
	float: left;
width: 59px;
height: 21px;
margin-top: 10px;
margin-left:14px;
}
.brend5{
	float: left;
width: 77px;
height: 13px;
margin-top: 10px;
margin-left:14px;
}
.brend6{
	float: left;
width: 57px;
height: 27px;
margin-top: 8px;
margin-left:12px;
}
.brend7{
	float: left;
width: 61px;
height: 14px;
margin-top: 13px;
margin-left:13px;
}
.brend8{
	float: left;
width: 72px;
height: 13px;
margin-top: 11px;
margin-left:14px;
}
footer{
position: absolute;
width: 910px;
height: 99px;
background-color: #213a4d;
border: 1px solid #242a3c;
margin-top: 100px;
margin-left: 2px;
}
#fo_1{
position: relative;
width: 299px;
height: 16px;
margin-left: 310px;
margin-top: 8px;


}
#fo_1 a{
color: #bec6c9;
font-family: Arial;
font-size: 12px;
font-weight: 400;
line-height: 16px;
height: 16px;
}
#f-2 a{
color: #52abcb;

}
#f-3 #f-4 #f-5{
color: #bec6c9;
}
#f-2{
float: left;
padding-right:9px;
border-right: 3px solid #bec6c9;
height: 12px;

}

#f-3{
float: left;
margin-left: 10px;
padding-right: 12px;
border-right: 3px solid #bec6c9;
height: 11px;
}
#f-4{
float: left;
margin-left: 10px;
padding-right: 13px;
border-right: 3px solid #bec6c9;
height: 11px;
}
#f-5{
	float: left;
	margin-left: 15px;

}
#fo_2{
width: 154px;
height: 9px;
margin-left: 377px;
margin-top: 12px;
}
#fo_2 a{
width: 154px;
height: 9px;
color: #7f4740;
font-family: Arial;
font-size: 10px;
font-weight: 400;
line-height: 18px;
}
figcaption{
width: 72px;
height: 15px;
color: #114165;
font-family: Arial;
font-weight: 700;
font-style: italic;
line-height: 10px;
font-size: 16px;
}

figcaption p{
position: absolute;
width: 25px;
height: 15px;
color: #114165;
font-family: Arial;
font-weight: 700;
font-style: italic;
line-height: 10px;
font-size: 12px;
margin-left: 94px;
margin-top:-7px;
}
figcaption{
width: 130px;
height: 15px;
text-align: center;
margin-top:3px;
margin-left: -2px;
}




